


<!-- refactor play logic into controller/model -->
<!-- split into diff erb docs -->
<div class="flashcard">
<h1><%= @card.front%></h1>
<% if @played %>
  <p>Your Answer: <%= @user_answer %></p>
  <p>Correct Answer: <%= @answer %></p>
  <%= "You got it right!!!" if @correct %>
  <br>
  <% if @finish %>
  <button><a href="/deck/<%= @deck.id %>/score">Score!</a></button>
  <% else %>
  <button><a href="/deck/<%= @deck.id %>/card/<%= @next_card.id %>">Next</a></button>
<% end %>

<% else %>
<form action="/deck/<%= @card.deck.id %>/card/<%= @card.id %>" method="POST">
  <input type="text" name="answer" placeholder="Whaddya think?">
  <input type="submit" value="Check">
</form>
<% end %>
</div>

